// Specific CSS for your home-page
.homecards {
  margin-top: 30px;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 32px;
  color: #233E8B;
}

h4 {
  font-size: 24px;
  color: #233E8B;
}

.home-icons {
  font-size: 40px;
  color: #1EAE98;
}
