#cards-container {
  display: flex;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
}

.cards .btn_gradient {
  padding: 3px 8px;
  font-size: 12px;
}

#map {
  width: 50vw;
  height: 100vh;
  position: sticky;
  top: 0;
  margin-left: 16px;
}

#map img {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  margin-left: 16px;
}

.title {
  display: flex;
  margin: 0px auto;
  padding: 10px 0px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .container {
    display: block;
  }
  #map {
    height: min-content;
    width: 100vw;
  }
}

@media (max-width: 576px) {
  #map {
    display: none;
  }
}
