.space-bottom {
  color: #D9EDF0;
}

.back-to-rides-new {
  margin: 0 15px 15px 15px;
}

.card-form h2 {
  margin: 15px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.fa-arrow-left {
  margin-left:1em;
  padding-bottom: 1em;
}

.form-check-input.is-valid:checked {
  background-color: #a3f4d3;
  border-color: #a0eaea;
}

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: #0e0000;
}
