// .container {
//   height: 75vh;
// }

.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 1em;
  margin-top: 10px;
}

h3 {
  font-size: medium;
  font-weight: bolder;
}

.cat {
  display: flex;
}

.desc {
  display: flex;
  text-align: justify;
}

.address {
  display: flex;
}

.avail {
  display: flex;
}

.price {
  display: flex;
}

ul {
  display: inline;
}

.container li {
  list-style: none;
  padding: 2em;
}

.btn_not_important {
  text-decoration: none;
  color: grey;
}

.fa-arrow-left {
  color: grey;
  margin-top: 15px;
}

.show {
  color: #233E8B;
  padding: 15px;
  text-align: center;
}

.btn_imp {
  text-align: center;
  width: 500px;
}

.show-cont {
  width: 1000px;
  background-color: rgba(253, 249, 249, 0.4);
  border-radius: 5px;
  padding: 5px;
  border: solid 1px rgba(220, 220, 220, 0.604);
  box-shadow: 0 0 15px rgba(0, 0, 0 , 0.2);
  padding: 10px;
}

.container-col {
  padding: 15px;
  margin: 15px;
}

.one-col {
  padding: 15px;
}
.photo {
  position: sticky;
  top: 0px;
  margin-top: 60px;
}

.form {
  width: 70vh;
}

.form h2 {
  text-align: center;
}
