
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
    <div id="booking-container">
      <h2>Create a new booking</h2>
      <%= simple_form_for [@ride, @booking] do |f| %>
      <%= f.input :starting_date %>
      <%= f.input :end_date %>
      <%= f.button :submit, class: "btn_gradient" %>
      <% end %>
    </div>
    </div>
  </div>
</div>
