<h1>Welcome <%= current_user.username %></h1>
  <ul>
    <% @my_rides.each do |my_ride| %>
      <li> <%= my_ride.name  %></li>
    <% end %>
  </ul>

    <ul>
    <% @my_bookings.each do |my_booking| %>
      <li> <%= my_booking.ride.name  %></li>
    <% end %>
  </ul>
