<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://s3.amazonaws.com/somontrealapp/images/e-t-l-extra-terrestre-2018-02-25.jpg);">
  <div class="container">
    <h1>Magic Ride</h1>
    <p>Ride the world with the most beautiful and original vehicles</p>
    <%= link_to "Ride here ride now", rides_path%>
  </div>
</div>

<%= link_to "Sign in", new_user_session_path%>
