.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 5px 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand .logo_navbar {
  width: 145px;
}

#logo_navbar {
  width: 130px;
  border-radius: 40px;
}

p.nav-link {
  margin-bottom: 0;
}
