<div class="back-to-ride-new">
<i class="fa-solid fa-arrow-left"></i>
<%= link_to "Back to the ride", ride_path(@ride), class: "btn_not_important"  %>
</div>

<div class="container-form flex-container">
  <div class="card-form">
    <h2>Modify your ride</h1>
    <div class="form-new">
      <%= render "form", ride: @ride %>
    </div>
  </div>
</div>
<%= link_to "bla", rides_path, class: "space-bottom" %>
<br>
<%= link_to "bla", rides_path, class: "space-bottom" %>
<br>
